[DEFAULT]
other_language_short = ch
other_language = Chinese
phone_number = (02) - 0124 2341
email_address = hello@ivytree.com
email_title = Email
tel_title = TEL
mission_statement = At IvyTree, we believe that education should encourage curiosity, foster imagination, promote risk-taking, nurture critical thinking, and empower students.
current_year = 2017
quickschools_link = http://workinprogress.quickschools.com
classdojo_link = https://home.classdojo.com/#!/login
facebook_link = http://facebook.com/IvyTreeLC
blog_title = Blog
about_title = About
courses_title = Courses
contact_title = Contact

[index.html]
title = IvyTree Titleeee
intro_title = Welcome.
intro_subtitle = How can we help you?
intro_button_link = /en/courses.html
intro_button_label = Learn More
rec1_quote = Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.
rec_title = Recommendations
rec1_name = Mrs. Lee
rec1_description = concerned parent
rec2_quote = Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.
rec2_name = Mrs. Lee
rec2_description = @mrsleetwitter
rec3_quote = Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.
rec3_name = Mrs. Lee
rec3_description = @mrsleetwitter
rec_button_link = http://facebook.com
rec_button_label = Learn More
how_we_work_title = How We Work
how_we_work_button_link = /en/about.html
how_we_work_button_label = Learn More

[blog.html]

[about.html]

[courses.html]

[contact.html]
