<html>
	<head>
		<title>IvyTree Home</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:200,400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body>
		<header>
			<div class="header1">
				<div class="hdr-language">
					<a href="/ch/index.html">
						<p>
							<i class="fa fa-globe"></i>
							Chinese
						</p>
					</a>
				</div>
				<div class="hdr-contact right">
					<a class="hdr-email" href="#"><b>Email</b><span>Us</span></a>
					<p class="hdr-tel"><b>Tel</b><span>(02) - 0124 2341</span></p>
				</div>
			</div>
			<div class="header2 floater-container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png"></a>
				</div>
				<nav class="floater">
					<ul>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="courses.html">Courses</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section class="text light-green floater-container">
			<div class="wrap floater">
				<h2 class="sect-title">Nice to Meet you</h2>
				<div class="col-md-12 floater-container">
					<span class="floater person" style="background:url('images/lantz.jpg'); background-size:cover;">
						<span class="person-cont">
							<h3 class="person-title">Lantz Warrick</h3>
							<p class="person-copy">Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.</p>
						</span>
					</span>
					<span class="floater person" style="background:url('images/sam.jpg'); background-size:cover;">
						<span class="person-cont">
							<h3 class="person-title">Lantz Warrick</h3>
							<p class="person-copy">Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.</p>
						</span>
					</span>
				</div>
			</div>
		</section>
		<section class="text green floater-container">
			<div class="wrap floater">
				<h2 class="sect-title">Mission Statement</h2>
				<div class="col-md-12">
					<p class="sect-copy">
						IvyTree provides a well-rounded approach to language learning with an emphasis on critical thinking through reading and writing. We guide students in the appropriate use of technology with cutting-edge, proven and emerging approaches to assist and develop their understanding of classic literature and universal writing skills.
					</p>
				</div>
			</div>
		</section>
		<section class="text dark-green floater-container">
			<div class="wrap floater">
				<h2 class="sect-title">Values</h2>
				<div class="col-md-12">
					<p class="sect-copy">
						At IvyTree, we believe that education should exhibit these 6 features.
					</p>
				</div>
			</div>
		</section>
		<section class="tiles">
			<div class="col-md-4 tile col-sm-12 col-xs-12 ">
				<h2><i class="fa fa-search"></i></h2>
				<h3>encourage <b>curiosity</b></h3>
				<p>about the world and about communicating with others</p>
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12" style="background:url('images/IMG_0016.jpg'); background-size:cover;">
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12">
				<h2><i class="fa fa-lightbulb-o"></i></h2>
				<h3>foster <b>imagination</b></h3>
				<p>by urging students to freely question ideas</p>
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12" style="padding:0">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/UPzNspf2byc" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12 ">
				<h2><i class="fa fa-globe"></i></h2>
				<h3>promote <b>risk-taking</b></h3>
				<p>by providing a safe environment</p>
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12  dark">
				<h2><i class="fa fa-cloud"></i></h2>
				<h3>nurture <b>critical thinking</b></h3>
				<p></p>
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12 ">
				<h2><i class="fa fa-bolt"></i></h2>
				<h3><b>empower</b></h3>
				<p>students to actively participate in their own learning process</p>
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12" style="background:url('images/IMG_0029.jpg'); background-size:cover;">
			</div>
			<div class="col-md-4 tile col-sm-12 col-xs-12 ">
				<h2><i class="fa fa-child"></i></h2>
				<h3><b>respect</b></h3>
				<p>that students have individual learning styles and paces.</p>
			</div>
		</section>
		<section class="blurbs floater-container">
			<div class="floater wrap">
				<h2 class="sect-title">Recommendations</h2>
				<div class="recs">
					<div class="col-md-4">
						<div class="blurb">
							<div class="blurb-ctt">
							<q>Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.</q>
							</div>
							<div class="blurb-btm floater-container">
								<span class="blurb-avatar floater" style="background:url('images/IMG_0032.jpg'); background-size:cover;"></span>
								<h3 class="blurb-title">Mrs. Lee<span class="blurb-copy">@mrsleetwitter</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blurb">
							<div class="blurb-ctt">
							<q>Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.</q>
							</div>
							<div class="blurb-btm floater-container">
								<span class="blurb-avatar floater" style="background:url('images/IMG_0032.jpg'); background-size:cover;"></span>
								<h3 class="blurb-title">Mrs. Lee<span class="blurb-copy">@mrsleetwitter</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blurb">
							<div class="blurb-ctt">
							<q>Lorem ipsum dolor sit amet, consecor adipiscing elit. Maecaas dui massa porta ac ullam corper ut aucotr quis arcu. Pollentwqequs mululan.</q>
							</div>
							<div class="blurb-btm floater-container">
								<span class="blurb-avatar floater" style="background:url('images/IMG_0032.jpg'); background-size:cover;"></span>
								<h3 class="blurb-title">Mrs. Lee<span class="blurb-copy">@mrsleetwitter</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-12 floater-container button-container">
						<a href="#" class="floater button"><span class="pop">Learn More</span></a>	
					</div>
				</div>
			</div>
		</section>
		<div class="socmedia floater-container">
			<a href="http://facebook.com/IvyTreeLC" class="social floater"><i class="fa fa-facebook"></i></a>
			<a href="http://workinprogress.quickschools.com" class="social floater">Quickschools</a><a href="https://home.classdojo.com/#!/login" class="social floater">ClassDojo</a>
		</div>
		<footer>
			<div class="footer-logo floater-container">
				<img src="images/logo.png" class="floater">
			</div>
			<p class="footer-nav"><a href="index.html">home</a> &middot; <a href="about.html">about</a> &middot; <a href="courses.html">courses</a></p>
			<p class="footer-cite">(c) 2015 IvyTree. All Rights Reserved. Designed and Developed by <a href="http://alvinwan.com">Alvin Wan</a></p>
			</nav>
		</footer>
	</body>
</html>