<html>
	<head>
		<title>{{ title }}</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:200,400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=0.85">

		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body>
		<header>
      <div class="header1">
				<div class="hdr-language">
					<a href="/{{ other_language_short}}/index.html">
						<p>
							<i class="fa fa-globe"></i>
							{{ other_language }}
						</p>
					</a>
				</div>
				<div class="hdr-contact right">
					<a class="hdr-email" href="mailto: {{ email_address }}"><b>{{ email_title }}</b></a>
					<p class="hdr-tel"><b>{{ tel_title }}</b><span>{{ phone_number }}</span></p>
				</div>
			</div>
			<div class="header2 floater-container">
				<div class="logo">
					<a href="index.html"><img src="images/logo-flat.svg"></a>
				</div>
				<nav class="floater">
					<ul>
						<li><a href="blog.html">{{ blog_title }}</a></li>
						<li><a href="about.html">{{ about_title }}</a></li>
						<li><a href="courses.html">{{ courses_title }}</a></li>
						<li><a href="contact.html">{{ contact_title }}</a></li>
					</ul>
				</nav>
			</div>
		</header>
		{% block content %}
    {% endblock %}
		<div class="socmedia floater-container">
			<a href="{{ facebook_link }}" class="social floater"><i class="fa fa-facebook"></i></a>
			<a href="{{ quickschools_link }}" class="social floater">Quickschools</a><a href="{{ classdojo_link }}" class="social floater">ClassDojo</a>
		</div>
		<footer>
			<div class="footer-logo floater-container">
				<img src="images/logo.png" class="floater">
			</div>
			<p class="footer-nav"><a href="index.html">home</a> &middot; <a href="about.html">about</a> &middot; <a href="courses.html">courses</a></p>
			<p class="footer-cite">(c) {{ current_year }} IvyTree. All Rights Reserved. Designed and Developed by <a href="http://alvinwan.com">Alvin Wan</a></p>
			</nav>
		</footer>
	</body>
</html>
