{% extends "base.html" %}
{% block content %}
		<section class="googlemap">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.4941536634033!2d121.52894289999999!3d25.11897919999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ae877c6ee857%3A0x36b49fa9e80db0c0!2sLane+5%2C+Tianmu+W+Rd%2C+Shilin+District%2C+Taipei+City%2C+Taiwan+111!5e0!3m2!1sen!2sus!4v1436676307417" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
		<section class="text dark-green floater-container">
			<div class="wrap floater">
				<h2 class="sect-title">Office</h2>
				<div class="col-md-12">
					<p class="sect-copy">
TEL: +886-2-2876-3030<br>
EMAIL: info@ivytree.com<br>
ADDRESS: 2F, No.1-5, Tianmu E. Rd., Shilin Dist. Taipei City 111, Taiwan<br>
Weekdays: M-F 1 p.m. - 9 p.m.
					</p>
				</div>
			</div>
		</section>
		<section class="forms floater-container">
			<div class="wrap floater">
				<div class="col-md-12">
					<!-- Copy this entire code block-->
					<div class="floater form" id="enquiry-form"></div>
					<div class="qsstandalone-footnote col-md-12" id="enquiry-footer">Form powered by <a href="http://www.quickschools.com" target="_blank">QuickSchools.com - School Management System</a></div>
					<script src="https://workinprogress.quickschools.com/sms/es/enquiry?divId=enquiry-form" async></script>
				</div>
				<div class="col-md-12">
					<!-- Copy this entire code block-->
					<div class="floater form" id="application-form"></div>
					<div class="qsstandalone-footnote col-md-12" id="enquiry-footer">Form powered by <a href="http://www.quickschools.com" target="_blank">QuickSchools.com - Student Information System</a></div>
					</script>
					<script src="https://workinprogress.quickschools.com/sms/es/application?divId=application-form" async></script>
				</div>
			</div>
		</section>
{% endblock %}
