{% extends "base.html" %}
{% block content %}
		<section class="intro" style="background:url('images/introbg.jpg'); background-size:cover">
			<h2 class="intro-subtitle">{{ intro_title }}</h2>
			<h1 class="intro-title">{{ intro_subtitle }}</h1>
			<div class="col-md-12 floater-container button-container">
				<a href="{{ intro_button_link }}" class="floater button"><span class="pop">{{ intro_button_label }}</span></a>
			</div>
		</section>
		<section class="blurbs floater-container">
			<div class="floater wrap">
				<h2 class="sect-title">{{ rec_title }}</h2>
				<div class="recs">
					<div class="col-md-4">
						<div class="blurb">
							<div class="blurb-ctt">
							<q>{{ rec1_quote }}</q>
							</div>
							<div class="blurb-btm floater-container">
								<span class="blurb-avatar floater" style="background:url('images/IMG_0032.jpg'); background-size:cover;"></span>
								<h3 class="blurb-title">{{ rec1_name }}<span class="blurb-copy">{{ rec1_description }}</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blurb">
							<div class="blurb-ctt">
							<q>{{ rec2_quote }}</q>
							</div>
							<div class="blurb-btm floater-container">
								<span class="blurb-avatar floater" style="background:url('images/IMG_0032.jpg'); background-size:cover;"></span>
								<h3 class="blurb-title">{{ rec2_name }}<span class="blurb-copy">{{ rec2_description }}</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="blurb">
							<div class="blurb-ctt">
							<q>{{ rec3_quote }}</q>
							</div>
							<div class="blurb-btm floater-container">
								<span class="blurb-avatar floater" style="background:url('images/IMG_0032.jpg'); background-size:cover;"></span>
								<h3 class="blurb-title">{{ rec3_name }}<span class="blurb-copy">{{ rec3_description }}</span></h3>
							</div>
						</div>
					</div>
					<div class="col-md-12 floater-container button-container">
						<a href="{{ rec_button_link }}" class="floater button"><span class="pop">{{ rec_button_label }}</span></a>
					</div>
				</div>
			</div>
		</section>
		<section class="gallery col-xs-12">
			<div class="photo col-md-3 col-xs-12" style="background:url('images/IMG_0006.jpg'); background-size:cover;"></div>
			<div class="photo col-md-6 col-xs-12" style="background:url('images/IMG_0015.jpg'); background-size:cover;"></div>
			<div class="photo col-md-3 col-xs-12" style="background:url('images/IMG_0011.jpg'); background-size:cover;"></div>
		</section>
		<section class="text orange floater-container">
			<div class="wrap floater">
				<h2 class="sect-title">{{ how_we_work_title }}</h2>
				<div class="col-md-12">
					<p class="sect-copy">
						{{ mission_statement }}
					</p>
				</div>
				<div class="col-md-12 floater-container button-container">
					<a href="{{ how_we_work_button_link }}" class="floater button orange"><span class="pop">{{ how_we_work_button_label }}</span></a>
				</div>
			</div>
		</section>
{% endblock %}
