<html>
	<head>
		<title>IvyTree Home</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:200,400,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=0.85">

		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body class="splash" style="background:url('images/introbg.jpg'); background-size:cover;">
		<div class="col-md-12 col-xs-12 floater-container">
			<img class="floater logo-large" src="images/logo-large.png">
		</div>
		<div class="col-md-12 floater-container button-container">
			<a href="index.html" class="floater button"><span class="pop">English</span></a>	
			<a href="#" class="floater button"><span class="pop">&#20013;&#25991;</span></a>	
		</div>
	</body>
</html>